.buttonStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 38px !important;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #877eff;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
}

.buttonStyle:hover {
  background-color: rgba(29, 201, 160, 0.08);
  border-color: #877eff;
  color: #877eff;
  transform: translateY(-5px) scale(1.05);
}

.buttonStyle:active {
  background-color: transparent;
  border-color: #877eff;
  color: #877eff;
  transform: translateY(5px) scale(0.95);
}

.buttonStyle:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8e8e93;
  border-color: #8e8e93;
}

.btn-conteiner {
  display: flex;
  width: 100%;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #877eff;
  --color-outline: #5d5fef;
  --color-shadow: #00000080;
  padding: 0px;
  border-radius: 50px;
}

.btn-content {
  display: flex;

  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 50px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}
